<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
  <!-- Set root logger level to ERROR and its appenders -->
  <root>
    <level value="ALL"/>
    <appender-ref ref="SysAppender"/>
  </root>

  <!-- Print only messages of level DEBUG or above in the packages -->
  <logger name="WebLogger">
    <level value="DEBUG"/>
  </logger>

  <appender name="SysAppender" type="log4net.Appender.RollingFileAppender,log4net" >
    <param name="File" value="App_Data/SiteLog/" />
    <param name="AppendToFile" value="true" />
    <param name="RollingStyle" value="Date" />
    <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;" />
    <param name="StaticLogFileName" value="false" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <converter>
        <name value="url" />
        <type value="SecurityCenter.Common.UrlPatternConverter" />
      </converter>
      <converter>
        <name value="ip" />
        <type value="SecurityCenter.Common.IPPatternConverter" />
      </converter>
      <converter>
        <name value="machine" />
        <type value="SecurityCenter.Common.MachinePatternConverter" />
      </converter>
      <converter>
        <name value="userAgent" />
        <type value="SecurityCenter.Common.UserAgentPatternConverter" />
      </converter>
      <param name="ConversionPattern" value="%d [%t] %-5p %c -%url %ip %machine %userAgent - %m%n" />
      <param name="Header" value="&#13;&#10;----------------------header--------------------------&#13;&#10;" />
      <param name="Footer" value="&#13;&#10;----------------------footer--------------------------&#13;&#10;" />
    </layout>
  </appender>
  <appender name="consoleApp" type="log4net.Appender.ConsoleAppender,log4net">
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
    </layout>
  </appender>
</log4net>